<div class="container-fluid">
  <div class="row">
     <div class="homes_top">
       <div class="homes_top_box">
          <img src="/assets/homes_top_image.jpg" alt="" class="img-responsive">
          <div class="homes_top_item">
            <h1 class="text-center font-weight-bold">Good books for Engineers</h1>
            <p class="text-center font-weight-bold">おすすめの技術書を紹介したり、探したりできるコミュニティです。チャットを通して交流することもできます。</p>
            <div class="text-center homes_top_link_box">
              <a class="btn btn-dark text-white font-weight-bold homes_top_user_singin_up btn-lg" href="users/sign_up">はじめてみる</a>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "font-weight-bold btn btn-light btn-lg"%>
            </div>
          </div>
       </div>
     </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center homes_midole font-weight-bold">
      <p>"Good books give you better sleep."<br class="homes_midole_br">このサイトではこんなことができます</p>
    </div>
  </div>
</div>
<!-- 画像の一段目 -->
<div class="container-fluid">
  <div class="row homes_midole_items">
    <div class="col-lg-5 homes_midole_item1">
      <img src="/assets/homes_midole_item1.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-lg-7 d-flex align-items-center">
      <div class="homes_midole_item1_top">
        <h2>書評を投稿できる</h2>
        <p>自分が読んだ技術書の感想を投稿できます。<br>おすすめの本をシェアしよう。</p>
      </div>
    </div>
  </div>
</div>
<!-- 画像の二段目 -->
<div class="container-fluid">
  <div class="row homes_midole_item2_box">
    <div class="col-lg-7 d-flex align-items-center">
      <div class="homes_midole_item2_midole text-white">
        <h2>コメントやいいねをつけられる</h2>
        <p>投稿にいいねやコメントをつけられます。</p>
      </div>
    </div>
    <div class="col-lg-5 homes_midole_item2">
      <img src="/assets/homes_midole_item2.jpg" alt="" class="img-responsive">
    </div>
  </div>
</div>
<!-- 画像3段目 -->
<div class="container-fluid">
  <div class="row homes_bottom_item3_box">
    <div class="col-lg-5 homes_bottom_item3">
      <img src="/assets/homes_bottom_item3.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-lg-7 d-flex align-items-center">
      <div class="homes_bottom_item2_bottom">
        <h2>商品検索ができる</h2>
        <p>APIを使って楽天市場の商品を検索できます。<br>気に入った書籍があればすぐに検索して購入できます</p>
      </div>
    </div>
  </div>
</div>