 <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= "sample1.jpg" %>" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Good books for Engineers</h1>
        <p>おすすめの技術書を紹介したり、探したりできるコミュニティです。チャットを通して交流することもできます。</p>
        <a class="btn btn-primary" href="users/sign_up">はじめてみる</a>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">"Good books give you better sleep."<br>このサイトではこんなことができます</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">書評を投稿できる</h2>
            <p class="card-text">自分が読んだ技術書の感想を投稿できます。おすすめの本をシェアしよう。</p>
          </div>
          <div class="card-footer">
            <a href="/books" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">コメントやいいねをつけられる</h2>
            <p class="card-text">投稿にいいねやコメントをつけられます。</p>
          </div>
          <div class="card-footer">
            <a href="/books" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">商品検索ができる</h2>
            <p class="card-text">APIを使って楽天市場の商品を検索できます。気に入った書籍があればすぐに検索して購入できます</p>
          </div>
          <div class="card-footer">
            <a href="rakuten_search" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
